@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.main-title {
    font-size: 2.5rem;
    text-align: center;
    color: #071952;
    font-weight: bolder;
    margin: 2rem 0;
    padding: 1rem;
    border-bottom: 3px solid #071952;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 1rem;
}