@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

input[type="email"] {
    color: #000;
    background-color: #EBF4F6;
    border: 2px solid #37B7C3;
    
  }
  
  input[type="email"]:focus {
    outline: none;
    border-color: #088395;
  }